/* Force Dark Mode Always */
body {
  background-color: #1d1f21 !important;
  color: #c5c8c6 !important;
}

a {
  color: #81a2be !important;
}

a:hover {
  color: #b5bd68 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #c5c8c6 !important;
}

.site-header, .site-footer {
  background-color: #1d1f21 !important;
  border-color: #373b41 !important;
}

.site-title {
  color: #f0f0f0 !important;
}

.site-footer {
  color: #969896 !important;
}

.page-link {
  color: #c5c8c6 !important;
}

.page-link:hover {
  color: #81a2be !important;
}

code, pre {
  background-color: #282a2e !important;
  color: #c5c8c6 !important;
}

blockquote {
  border-left-color: #81a2be !important;
  color: #969896 !important;
}

.wrapper {
  background-color: #1d1f21 !important;
}
