---
layout: default
---

<div class="home">
  {{ content }}

  <h2 class="post-list-heading">Latest Posts</h2>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
  <p><a href="/rocsum/">View all Roc Zulip summaries</a></p>
</div>
